<body>
	<div class="container">
	<div class="jumbotron">
		<h1 style="color:orange;">Welcome</h1>
		<h1 style="color:orange;">광운 알리미</h1>
		<h1 style="color:orange;"> 사이트에 오신 것을</h1>
		<h1 style="color:orange;"> 환영합니다!</h1>
		<p></p>
		<p>광운 알리미에 대해서 궁금하세요?</p>
		<p>광운 알리미란?
 <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button\>
</p>
	</div>
	</div>
</body>
