<body>
<div class="container">
<div class="page-header">
	<h1 style="color:blue;">회원가입</h1><br>
<form>
이름<br>
<input type="text"><br>
아이디<br>
<input type="text">(U-Campus 아이디)<br>
비밀번호<br>
<input type="text">(U-Campus 비밀번호)<br>
휴대폰 번호(-없이 숫자만 입력)<br>
<input type="text">
<input type="submit" value="요청"><br>
인증번호<br>
<input type"text">
<input type="submit" value="확인"><br>
이메일 주소<br>
<input type="text">
<input type="submit" value="요청"><br>
알림<p style="color:red;">ON</p>
(정보수정 항목에서 알림 ON/OFF 변경가능)<br><br>
<input type="submit" value="회원가입">
</form>
</div>
</div>
</body>

