<body>
<div class="container">
<div class="jumbotron">

<form>
	ID <INPUT TYPE="text">
	<br>	
	PW <INPUT TYPE=PASSWORD MAXLENGTH=8>
	<br><br>
	<input type="submit" value="login">
	<br>
		<h4>아직 회원이 아니세요?</h4>
		<span class="glyphicon glyphicon-arrow-right"></span>
</form>
</body>

